/*
Colours used:
primary-colour (White): #ffffff;
secondary-colour (Grey): #707070;
neutral-colour (Grey): #ced6d9;
*/
* {
  box-sizing: border-box;
}

/* fonts */
body {
  background-color: #ffffff;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 40px;
  line-height: 55px;
  display: inline;
  font-weight: 300;
  background-color: rgba(232, 227, 22, .8);
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin-top: 20px;
}

h4 {
  font-size: 1.25em;
  font-weight: 200;
  /* Sets the font weight to 300 */
}

h5 {
  font-family: 'PT Serif', serif;
  font-size: 25px;
  font-weight: 200;
}

#vela {
  font-size: 1em;
  font-weight: 300;
  background-color: rgba(232, 227, 22, .8);
  margin-left: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}

#copy {
  font-size: 10px;
  text-align: center;
}

.h1 {
  background-color: rgba(232, 227, 22, .8);
  position: relative;
  left: -2px;
  top: -1px;
}

.story {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #000000;
}

.skills {
  font-family: 'Lexend+Deca', sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #000000;
  padding: 10px 0 0;
}

.skills ul {
  list-style-type: none;
  padding: 0px;
}

.skills h2 {
  display: inline;
  color: #ffffff;
}

img {
  width: 100%;
}

/*{
  padding: 1em 0;
}*/
.logo {
  max-width: 100px;
  margin-top: 6px;
}

a {
  color: #ffffff;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #707070;
}

a:hover,
a:focus {
  color: rgba(232, 227, 22, 8);
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #707070;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  /* needed to override the default link color */
  font-weight: 200;
  text-decoration: none;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #000000;
  transition: 0.2s opacity;
  border-radius: 20px;
}

.button:visited {
  background-color: #000000;
  color: #ffffff !important;
}

.button:hover {
  background-color: #ffffff;
  color: #000000 !important;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: #000000;
  color: #ffffff;
  font-weight: 200;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #000000;
}

.button.cv {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  margin: 30px;
}

.button.cv:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

.button.cv:visited {
  color: #707070
}

.social a {
  color: #000000;
}

.social a:visited {
  color: #000000;
}

.social a:active {
  color: #707070;
}

.social a:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 25s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 20s cloud-move-reverse infinite alternate linear;
}

/* header styling */
.container {
  padding: 0 15px;
}

header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

main {
  padding-top: 90px;
}


footer {

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  font-family: 'Lexend+Deca', sans-serif;
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: #000000;
}

nav>ul>li>a:visited {
  /* visited link */
  color: #000000;
}

nav>ul>li>a:hover,
a:focus {
  color: rgba(232, 227, 22, .8);
  text-decoration: none;
}

nav>ul>li>a:active {
  /* selected link */
  color: rgba(232, 227, 22, .8);
}

/* our hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ffffff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.work .row {
  margin: 25px 0;
  padding: 0 0 25px;
  /* 25px top and bottom, 0 left and right */
}

.work .row:last-child {
  padding: 0;
  border-bottom: none;
}

/* hero styling*/
#hero {
  background-image: url("../img/home/pic1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  background-color: #ffffff;
}

/* vela styling*/
#overview {
  background-color: #efefef;
  padding: 2em 0;
}

#findings, #key {
  background-color: #ffffff;
  font-family: 'PT Serif', serif;
  font-style: italic;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.story h2 {
  background-color: #ffffff;
  line-height: 55px;
  display: inline;
  font-size: 25px;
  font-weight: 200;
}

/* about styling*/
#about {
  padding: 3em 1em;
  background-color: rgba(232, 227, 22, .8);
}

#skills {
  max-width: 60%;
  margin: 0 auto;
}

#story {
  background-color: rgba(232, 227, 22, .8);
}



/* footer */

.social {
  margin-top: 1em;
}

.social a {
  padding: 10px;
}

.social:hover {
  color: rgba(232, 227, 22, .8);
  color: #ffffff;
}

.social:active {
  padding: 10px;
  color: #ffffff;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* media queries */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  h1 {
    font-size: 3em;
    line-height: 70px;
    display: inline;
    text-align: left;
  }

  h5 {
    line-height: 55px;
    display: inline;
    font-weight: 300;
    background-color: #ffffff;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  .logo {
    max-width: 150px;
    margin-top: 6px;
  }

  #hero span {
    display: block;
  }

  #vela {
    font-size: 2em;
    font-weight: 300;
    background-color: rgba(232, 227, 22, .8);
    margin-left: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* fonts */
  body {
    font-size: 18px;
  }

  .about img {
    max-width: 300px;
  }

  .about {
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav>ul>li {
    display: inline-block;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  footer {
    background-color: #ffffff;

      }

  #story .container {
    max-width: 700px;
    text-align: center;
  }

  #about .image {
    max-width: 200px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media (min-width: 1440px) {}
